[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git

[submodule "external/highway"]
	path = external/highway
	url = https://github.com/google/highway.git

[submodule "external/moviemaker-cpp"]
	path = external/moviemaker-cpp
	url = https://github.com/apc-llc/moviemaker-cpp.git
	
[submodule "external/BMP_lib"]
	path = external/BMP_lib
	url = https://github.com/McEnigma24/BMP_lib.git
[submodule "external/Timers_lib"]
	path = external/Timers_lib
	url = https://github.com/McEnigma24/Timers_lib.git
